* {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source sans pro", sans-serif;
}

/* header */

.header {
    display: flex;
    align-items: center;
    padding: 1.25em;
    background: #FFFFFF;
    height: 60px;
}

.header-img {
    max-width: 15%;
    height: 25px;
}

.header-title {
    font-weight: 700;
    font-size: 1rem;
    margin-left: 0.3em;
    color: #0E0E0E;
}

.header-nav {
    display: flex;
    gap: 2.5em;
    margin-left: auto;
    list-style: none;
    font-weight: 600;
    font-size: 0.75rem;
}

.header-nav a {
    color: #090909;
    text-decoration: none;
}

/* Intro section */

.section-link {
    text-decoration: none;
    color: #ffffff;
}

.section-intro {
    background-image:     
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ), 
        url("/images/thought.png");
    background-size: cover;
    padding: 5.4em 1.25em 1.6em;

    transition: all 0.2s ease-in-out; 
}

.section-intro:hover {
    transform: scale(1.02); 
}

.date,
.paragraph {
    font-weight: 400;
    margin: 0;
}

.date {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.title {
    font-weight: 700;
    font-size: 1.93rem;
    margin: 0.26em 0;
    letter-spacing: -0.01em;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.5;
}

/* articles */

.articles-container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 2.125em;
    padding-bottom: 2.5em;
}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2em;
}

.articles .article-img {
    width: 100%;
    margin-bottom: 0.625em;
}

.articles .date {
    font-size: 0.875rem;
}

.articles .title {
    font-size: 1.5rem;
    margin: 0.375em 0;
}

/* view more */

.view-more {
    display: block;
    text-align: center;
    color: #090909;
    margin: 0 0 3em;
}

/* footer */

.footer-container {
    padding: 2.313em 7.5em;
    background-color: #202020;
    text-align: center;
}

.footer-name {
    color:#ECECEC;
    font-weight: 700;
    font-size: 0.75rem;
    margin: 0;
}

.footer-copyright {
    color: #D7D7D7;
    font-weight: 400;
    font-size: 0.75rem;
    margin: 0.25em 0 0;
}

/* Feature page: section and article */

.feature-section {
    padding: 2em 1.25em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-wrapper {
    max-width: 1000px;
}

.feature-section .date {
    margin-bottom: 1em;
}

.feature-section .title {
    margin: 0 0 0.5em;
}

.feature-section .paragraph {
    margin: 0 0 1em;
}

.feature-section img {
    width: 100%;
    border-radius: 3px;
}

.recent-posts {
    margin: 0;
    text-align: center;
    grid-column: 1 / -1;
}

/* media query: breakpoint for tablet */ 
@media (min-width: 480px) {
    .header {
        max-width: 1000px;
        margin: 0 auto;
        padding: 2.5em;
    }

    .header-img {
        height: 35px;
    }
    
    .header-title {
        font-size: 1.25rem;
    }

    .header-nav {
        font-size: 1rem;
    }

    .section-intro {
        max-width: 1000px;
        min-height: 400px;
        margin: 0 auto;
        padding: 11em 3.3em 3.6em;
    }

    .section-intro .date,
    .feature-section .date {
        font-size: 1rem;
    }

    .section-intro .title {
        max-width: 500px;
    }

    .section-intro .title,
    .feature-section .title {
        font-size: 2.5rem;
        line-height: 1;
    }

    .section-intro .paragraph {
        max-width: 600px;
    }

    .section-intro .paragraph,
    .feature-section .paragraph {
        font-size: 1rem;
    }

    /* Utility contanier for feature page */
    .grey {
        background-color: #FAFAFA;
    }
}

/* media query: breakpoint for tablet */ 

@media (min-width: 768px) {
    .header {
        max-width: 1080px;
        margin: 0 auto;
        padding: 2.5em;
    }

    .header-img {
        height: 40px;
    }
    
    .header-title {
        font-size: 1.5rem;
    }

    .header-nav {
        font-size: 1.25rem;
    }

    .feature-section .title {
        font-size: 2vw;
    }

    .feature-section .paragraph {
        font-size: 1.2vw;
    }

    .feature-section img {
        width: 50%;
    }
}
